.container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1.5rem
}
.heading{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2.7px;
}
.heading span{
    margin-right: 1rem;
    color:rgba(255,255,255,25%);
    
}
.hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.img_wrapper{
    width:100%;
    height: 180px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.img{
    opacity:0;
    width:0;
    height: 0;
    transition: all 0.7s ease-out;
}
.imgloaded{
    opacity:1;
    width:170px;
    height: 170px;
}
.details{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.details_navLinks{
    font-family: 'Barlow Condensed', sans-serif;
    display:flex;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
    color:#D0D6F9;
    font-size: 16px;
    letter-spacing: 2.36px;       
}
.details_navLinks a{
    padding-bottom: 0.4rem; 
}
.active{
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    color:white;
}

.details_location{
    text-transform: uppercase;
    font-size: 56px;
    margin-bottom: 0;
    font-weight: normal;
}
.details_description{
    width:327px;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    line-height: 25px;   
    color:#D0D6F9;
}
.details_hr{
    width:100%;
    height: 1px;
    border:none;
    background-color: #383B4B;
    margin-bottom: 1rem;
}

.details_stats{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.details_dist_title,.details_est_title{
    font-size: 14px;
    letter-spacing: 2.36px;
    color:#D0D6F9;
}
.details_dist_km,.details_est_km{
    font-size: 28px;
    letter-spacing: 2.36px;
    text-transform: uppercase;
}      

@media screen and (min-width:768px){
    .container{
        padding-top: 2.8rem;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:3.1rem
    }
    .heading{
        align-self: flex-start;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 3.38px;
    }
   
    .hero{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1.5rem;
        width:90%;
    }
    .img{
        width:300px;
        height: 300px;
    }
    .details{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:0;
    }
    .details_navLinks{
        font-family: 'Barlow Condensed', sans-serif;
        display:flex;
        gap:2.5rem;
        justify-content: center;
        align-items: center;
        color:#D0D6F9;
        font-size: 16px;
        letter-spacing: 2.7px;       
    }
    .details_navLinks a{
        padding-bottom: 1rem;
         
        
    }
    .active{
        border-bottom: 2px solid white;
        margin-bottom: -2px;
        color:white;
    }
    
    .details_location{
        text-transform: uppercase;
        font-size: 80px;
        margin-top: 2.2rem;
        margin-bottom: -1.2rem;
        font-weight: normal;        
    }
    .details_description{
        margin: 0;
        width:75%;
        font-size: 16px;
        font-family: 'Barlow', sans-serif;
        line-height: 28px;   
        color:#D0D6F9;
        margin-top: 1.8rem;
    }
    .details_hr{
        width:75%;
        height: 1px;
        border:none;
        background-color: #383B4B;        
        margin-top: 2.8rem;
        
    }
    
    .details_stats{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:6.5rem;
        margin-top: 0.2rem;
    
    }
    .details_dist_title,.details_est_title{
        font-size: 14px;
        letter-spacing: 2.36px;
        color:#D0D6F9;
    }
    .details_dist_km,.details_est_km{
        font-size: 28px;
        letter-spacing: 0;
        text-transform: uppercase;
    }     










}