@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
.header{
    font-family: 'Barlow Condensed', sans-serif;
    color:white;
    position:absolute;
    top:0;
    left:0;
    height: 90px;
    width:100%;
    padding:0 24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;    

}
.header_logo{
    width:40px;
    height: 40px;
}
.hr{
    display:none;
}
.header_hamburger{
    width:24px;
    height: 21px;
}
.nav_links{
    position:fixed;
    height: 100vh;
    width:254px;    
    top:-16px;
    right:0;
    z-index: 100;    
    display: flex;
    flex-direction: column;
    padding:24px 0 24px 32px;
    gap:32px;
    backdrop-filter: blur(13px);
    background-color: rgba(255,255,255,4%);
    transform: translateX(100%);    
    transition: all 200ms;
}
.nav_toggle{
    transform: translateX(0);
}
.nav_links li{ 
    list-style: none;
    text-transform: uppercase;    
    line-height: 24px;  
    height: 100%;  
}
.nav_closeIcon{
    width:19.09px;
    height: 19.09px;
    align-self: flex-end;
    margin-right: 24px;
}
.nav_links span{
    font-weight: bold;
    letter-spacing: 2.7px;
    margin-right: 11px;
}
.active{
    border-right: 4px solid white;
}

@media screen and (min-width:768px){
    .nav_closeIcon , .header_hamburger, .nav_links span{
        display:none;
    }
    .header{
        font-family: 'Barlow Condensed', sans-serif;
        color:white;
        position:absolute;
        top:0;
        left:0;
        height: 96px;
        width:100%;
        padding:0 0 0 39px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
        margin: 0;
    }
    .header_logo{
        width:48px;
        height: 48px;
    }
    .nav_links{
        font-size: 14px;
        letter-spacing: 2.36px;
        top:0;
        position:static;
        height: 100%;
        width:450px;  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;        
        padding:0 3rem ;
        margin: 0;
        gap:0;
        backdrop-filter: blur(13px);
        background-color: rgba(255,255,255,4%);
        transform: translateX(0);    
        transition: all 200ms;
    }
    .nav_links li{ 
        height: 100%;
        padding:35px 0;
        line-height:normal;
        position:relative;
    }
    .active{
        border-right: none;
    }
    .active:after{
        content:"";
        position:absolute;
        width:100%;
        height: 4px;
        left:0;
        bottom:0;        
        background-color: white;
           
    }
    
    

}
@media screen and (min-width:1440px){
   
    .header{
        margin-top: 40px;
        justify-content: flex-start;
        width:1385px;
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
        width:100%;
    }
    .hr{
        display:block;
        background-color: #979797;        
        width:473px;
        height: 1px;       
        margin-right: -2rem;
        z-index: 200;
        border:none;
          
    }
    .nav_links{
        width:830px;
        justify-content: flex-start;
        padding-left: 8rem;
        gap:3rem;
    }
    .nav_links span{
        display:inline-flex;
    }
    .header_logo{
       
        margin-left: 1rem;
    }
    .nav_links li{  
        line-height: 24px;   
        font-size: 16px; 
        letter-spacing: 2.7px;
        position:relative;
        height: 100%;
    }
    .nav_links li:not(.active):hover::after{ 
        content:"";
        position:absolute;
        width:100%;
        height: 4px;
        left:0;
        bottom:0;        
        background-color: rgba(255,255,255,0.5);
        animation: myAnim 1s cubic-bezier(0.25, 1, 0.5, 1) 0s 1 normal forwards;      
    }
    @keyframes myAnim {
        0% {
            opacity:0;	      
        }
    
        100% {
            opacity:0.5;	       
        }
    }
   
    
    


}