.main{
    background-image: url("/assets/home/background-home-mobile.jpg");
    width:100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.jumbotron{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 112px;
    width:73%;
    margin:0 auto;
}
.jumbotron_main_call{
    font-size: 16px;
    text-transform: uppercase;
    color:#D0D6F9;
    font-weight: lighter;
    letter-spacing: 2.7px;
}
.jumbotron_main_space{
    font-size: 80px;
    text-transform: uppercase;
    color:white;
    font-weight: lighter;
}
.jumbotron_main_lead{
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 25px;
    font-size: 15px;    
    color:#D0D6F9;
}
.jumbotron_explore{
    margin-top: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#0B0D17;
    letter-spacing: 1.25px;
    line-height: auto;
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    text-transform: uppercase;
    align-self: center;   
}
@media screen and (min-width:768px){
    .main{
        background-image: url("/assets/home/background-home-tablet.jpg");
        width:100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .jumbotron{      
        padding-top: 202px;
        width:450px;
    }
    .jumbotron_main_call{
        font-size: 20px;       
        letter-spacing: 3.38px;
    }
    .jumbotron_main_space{
        font-size: 150px;
        line-height: 150px;        
    }
    .jumbotron_main_lead{
        line-height: 28px;
        font-size: 16px;   
    }
    
.jumbotron_explore{
    font-size: 32px;
    letter-spacing: 2px;
    width:242px;
    height: 242px;
    margin-top: 8rem;
}

}

@media screen and (min-width:1440px){
    .main{
        background-image: url("/assets/home/background-home-desktop.jpg");
        width:100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }



}